<footer class="footer">

  <div class="container">

    <h2>Ahmed Masoud</h2>

    <p class="footer-job">
      SEO Specialist
    </p>

    <p class="footer-text">
      Helping Businesses Grow Through SEO & Organic Search.
    </p>

    <div class="footer-divider"></div>

    <p class="footer-copy">
      © 2026 Ahmed Masoud. All Rights Reserved.
    </p>

  </div>

</footer>